body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.password-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-row-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
